*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "body";
@import "words";

$primary-color: #4a167a;
$size: 54px;
$logo: true;
$view: "mobile";

#header__nav{
    background-image: url(../assets/img/fondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: double;
    border-bottom: double;
}

.nav{
    &__logo{
        @if $logo == true{
            width: 50px;
        }
    }
    &-item{
        a{
            color: $primary-color;
            text-transform: uppercase;
            font-weight: bolder;
            &:hover{
                color: #7233ad;
            }
        }
    }
}


.header__div--img{
    width: 100%;
    border-bottom: double;
}

.container__iframe{
    display: flex;
    justify-content: center;
    &--uno{
        margin-bottom: 3%;
    }
}

.section__div{
    &--containerImg{
        display: flex;
        justify-content: center;
    }
    &--img{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    &--serviciosRow{
        margin-top: 5%;
    }
}

@if $view == "desktop"{
    @media (min-width: 767px){
        .section__div--img{
            width: 300px;
        }
        .section__div--serviciosOrder{
            order: -2;
        }
    }
}
@else{
    @media (max-width: 767px){
        .section__div--img{
            width: 200px;
        }
        .section__div--serviciosOrder{
            order: -1;
        }
    }
}

#carouselExample{
    border: solid;
    color: $primary-color;
    margin: 6%;
}
.gallery__img{
    height: 350px;
}

.carousel-control-prev{
    background-color: $primary-color;
}

.carousel-control-next{
    @extend .carousel-control-prev;
}

.container{
    margin-bottom: 6%;
}

.card{
    background-image: url(../assets/img/fondo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top: double;
    &-footer{
        border-top: double;
        text-align: center;
    }
}
.redes{
    padding: 5px;
}

.navbar{
    .container-fluid{
        .d-flex{
            .btn{
                background-color: $primary-color;
                color: aliceblue;
                border: #7233ad;
                &:hover{
                    background-color: #7233ad;
                    color: aliceblue;
                    border: #7233ad;
                }
            }
        }
    }
}
.card{
    .card-body{
        .btn{
            background-color: $primary-color;
            color: aliceblue;
            margin-top: $size/3;
            &:hover{
                background-color: #7233ad;
                color: aliceblue;
            }
        }
    }
}
#form{
    button{
        background-color: $primary-color;
        color: aliceblue;
        border: #7233ad;
        &:hover{
            background-color: #7233ad;color: aliceblue;
        }
    }
}